#mc-embed-signup {
  display: flex;
  justify-content: center;
  background: #dff7fe;
  align-items: center;
  padding: 30px;
}

.form-container {
  display: flex;
  justify-content: center;
}
input.email {
  width: 70%;
}
